.left {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  /* border: solid 2px red; */
}

.name{
  position: absolute;
  left:100px;
  top: 6px;
  /* border: solid 2px red; */
  font-family: "Open Sans", sans-serif;
}
.tagline{
  position: absolute;
  /* border: solid 2px blue; */
  font-family: "Open Sans", sans-serif;
  left: 100px;
  top: 37px;
  font-weight: bold;
  padding-left: 10px;
}

.mid {
  display: block;
  width: 55%;
  margin: 10px auto;
  /* border: solid 2px green; */
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 25px;
  /* color: #EDF2F4; */
}
.navbar li a {
  color: #edf2f4;
  text-decoration: none;
  padding: 34px 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  /* color: #fdc921; */
  /* color: #03045e; */
}
.right {
  display: inline-block;
  /* border: solid 2px black; */
  position: absolute;
  right: 34px;
  top: 10px;
}
.app-btn{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ef233c;
  border: 2px solid white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-size: medium;
  font-weight: bold;
}
.container {
    /* border: solid 2px darkgoldenrod; */
    margin: 23px 80px;
    padding: 75px ;
    border-radius: 28px;
    width: 40%;
    /* right: 50px; */
  
  }
  .container h1{
    font-size: 55px;
  font-family: "Open Sans", sans-serif;

  }
  .container a{
    text-decoration:none;
    color: #ef233c;
    font-size: 55px;
  }

  .form-group input{
    display: block;
    width: 400px;
    padding: 6px;
    border: 2px solid white;
    margin: 3px auto;
    background: transparent;
    text-align: left;
    border-radius: 10px;
    height: 35px;
    color: white;
    font-weight: bold;
  }

  .form-group ::placeholder{
    color: white;
    font-weight: bold;
  }
  .btn{
    position: absolute;
    background-color: white;
    text-align: center;
    width: 10%;
    margin-left: 7%;
    margin-top: 15px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border-radius: 10px;
  }
  .btn:hover{
    background-color: #ef233c;
    color: white;
  }
  .form-group textarea{
    display: block;
    width: 400px;
    padding: 6px;
    border: 2px solid white;
    margin: 3px auto;
    background: transparent;
    text-align: left;
    border-radius: 10px;
    height: 35px;
    color: white;
    font-weight: bold;

  }
